@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./image.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: linear-gradient(rgba(77, 67, 192, 0.7), rgba(96, 87, 150, 0.8), rgba(9, 4, 66, 0.7));
  backdrop-filter: blur(15px);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
  width: 477px;
  height: 562px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.todo-input {
  flex: 1;
  outline: none;
  background: none;
  border: 1px solid #b9a0fa;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  min-width: 200px;
}

.todo-input-edit {
  outline: none;
  background: none;
  border: 1px solid #b9a0fa;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 400px;
  color: #fff;

}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn, .cancel-btn {
  background: #a596cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b89cff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.Todo p {
  overflow-wrap: break-word;
  word-break: break-word; 
  white-space: normal; 
  max-width: 80%; 
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #6e5ba0;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}
 
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background: #8758ff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:hover {
  background: #6a40cc;
}

.pagination button.active {
  background: #1A1A40;
  font-weight: bold;
}

.pagination button:disabled {
  background: #6e5ba0;
  cursor: not-allowed;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutSlide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.todo-item {
  animation: fadeInSlide 0.3s ease-out;
}

.todo-item.removing {
  animation: fadeOutSlide 0.3s ease-out forwards;
}
.add-task-btn {
  position: absolute;
  top: -50px;
  left: 1px;
  background: #8758ff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s;
}

.add-task-btn:hover {
  background: #6a40cc;
}

.TodoWrapper {
  position: relative;
}

.check-icon {
  cursor: pointer;
  font-size: 20px;
  transition: color 0.2s ease;
  color: #e6dcfc;
}

.check-icon.checked {
  color: #6a40cc;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.edit-icon:hover {
  color: #ffd220; /* Sarı */
  transform: scale(1.2); /* Büyütme efekti */
}

.delete-icon:hover {
  color: #fc422e; /* Kırmızı */
  transform: scale(1.2); /* Büyütme efekti */
}

